.head-border{
    position:relative;
    h2{
        text-align: center;
        width:300px;
        background-color:$redColor;
        text-transform: capitalize;
        padding: 10px 15px;
        margin: 10px auto;
        border-radius: 15px;
        color:#fff;
        &::before{
            content:'';
            // border:2px solid $grayColor;
            position: absolute;
            top:50%;
            left: 0;
            width: 100%;
            height: 1.5px;
            background-color: $grayColor;
            z-index: -1;

        }
    }

}